ion-title{
  text-align: center;
}
.ion-card-title-model{
  text-align: center;
}
ion-button{
  width:100%;
 }
 
.headimg{
  width:100%;
  height:auto;
}

.carImg{
  width:500px;
  height:auto;
}

.alertMessage{
  color: black;
  font-weight: bold;
  text-align: center;
}