ion-title{
  text-align: center;
}

ion-button{
  width:100%;
 }
 
.headimg{
  width:100%;
  height:auto;
}

.carImg{
  width:500px;
  height:auto;
}

// laptop view
@media only screen and (min-width: 1000px) {
    ion-card{
    display: inline-block;

  }

}