ion-title{
    text-align: center;
}

.view-contact{
    margin-left:23%;
}

.carImg{
    width:500px;
    height:auto;
}

// laptop view
@media only screen and (min-width: 1000px) {
    .carImg{
        width:700px;
        height:auto;
    }
    .message-avatar{
        padding-top: 150px;
    }
    .view-contact{
        margin-left: 46%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.container{
    margin-bottom: 20px;
    border-bottom: black 1px solid;
}

.reminder{
    font-size: large;
    font-weight: bold;

}

ion-progress-bar{
    height: 10px;
    border-radius: 5px;
}

.order{
background-color: yellow;
}