*{
    text-align: center;
    font-size: large;
}
th,td,tr{
    border: .5px,black,solid;
    background-color: rgb(238, 230, 230);
}
.patientsTb{
    text-align: center;
    margin-left: 46%;
}
.doctorsTb{
    text-align: center;
    margin-left: 45%;
}