<meta name="viewport" content="width=device-width, initial-scale=1">

<div>
  <nav>
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="cities" routerLinkActive="active">Cities</a>
    <a routerLink="weather" routerLinkActive="active">Weather</a>
    <!-- <a routerLink="weather-details" routerLinkActive="active">Weather Details</a> -->
    <a routerLink="techIdeas" routerLinkActive="active">Tech Ideas</a>
  </nav>
</div>

<div>
  <footer>
    Proudly made by {{myName}}!
  </footer>
</div>

<router-outlet></router-outlet>