<!-- <div *ngFor="let city of cities">
    <h2 [ngClass]="{'greenColor': color}">{{city.name}}</h2>
    <li>{{city.attractionSites}}</li>
</div> -->
<div class="pageWrapper">
<h2 class='greenText'>{{cities[0].name}}</h2>
<li>{{cities[0].attractionSites}}</li>
<h2 class='greenText'>{{cities[1].name}}</h2>
<li>{{cities[1].attractionSites}}</li>
<h2 class='greenText'>{{cities[2].name}}</h2>
<li>{{cities[2].attractionSites}}</li>
<h2>{{cities[3].name}}</h2>
<li>{{cities[3].attractionSites}}</li>
</div>