ion-title{
    text-align: center;
}

ion-button{
    width:100%;
}

.carImg{
    width:100%;
    height:auto;
}

.row{
    margin-bottom: 20px;
    border-bottom: black 1px solid;
}

.reminder{
    font-size: large;
    font-weight: bold;
}

ion-progress-bar{
    height: 10px;
    border-radius: 5px;
}