<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="bg-image">
    <div class="pageWrapper">
        <div class="text">
            <div id ="title">This is Egypt!</div>
            The aim of the website is to inform visitors more about tourism in Egypt. The cities tab will inform you more aout Egyption cities. The Weather tab will display the weather in certain Egyption areas. Finally, the Tech Ideas tab will display a form, which the user might fill if they have a technical idea to improve tourism in Egypt.
        </div>  
    </div>
</div>